common --enable_bzlmod
common --watchfs
common --jobs 200

common --enable_platform_specific_config
common:linux --sandbox_base=/dev/shm

common --nolegacy_external_runfiles
common --reuse_sandbox_directories
common --noexperimental_action_cache_store_output_metadata
common --sandbox_default_allow_network=false
common --incompatible_strict_action_env
common:linux --incompatible_sandbox_hermetic_tmp
test --incompatible_exclusive_test_sandboxed

# Sandboxing stratagy configuration
common:macos --spawn_strategy=darwin-sandbox

# These actions ask to not be sandboxed since that's a performance penalty with no benefit.
# Explicitly allow it to avoid the warning.
common --strategy=CopyFile=local
common --strategy=CopyDirectory=local
common --strategy=CopyToDirectory=local

common --lockfile_mode=off

common --nobuild_runfile_links
common --noenable_runfiles

# Mitigate repository rule restarts.
common --experimental_worker_for_repo_fetching=platform

common --noexperimental_check_output_files
common --noexperimental_check_external_repository_files

startup --host_jvm_args=-DBAZEL_TRACK_SOURCE_DIRECTORIES=1
