auto-install-peers=true
prefer-frozen-lockfile=true
# We have to be on pnpm v7.22.0 for filtered package installs to skip root workspace.
update-notifier=false
# Once we upgrade to a version that fixes the aforementioned bug, we will want to enable these.
# resolve-peers-from-workspace-root=true
# dedupe-peer-dependents=true
